# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
__generated__/
.eas/

# EAS / Native builds
*.apk
*.aab
*.ipa
*.app
*.hprof

# Native Android/iOS builds (if prebuild is used)
/ios/
/android/
.kotlin/
*.orig.*

# Certificates / Signatures
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
.eslintcache

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Environment variables & secrets
.env
.env.local
.env*.local

# TypeScript
*.tsbuildinfo

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Examples
example/
